<div>
  <fieldset>
    <legend>Add Product</legend>
    <form [formGroup]="productForm" (submit)="onSubmit()">
      <div class="form-group">
        <label>Title</label>
        <input type="text" formControlName="productName" />
      </div>
      <p style="color:red" *ngIf="productForm.controls.productName.errors?.required">
        Title is required</p>
      <p style="color:red" *ngIf="productForm.controls.productName.errors?.minlength">
        Title must be minimum 5 chars</p>
      <div class="form-group">
        <label>Price</label>
        <input type="text" formControlName="price" />
      </div>
      <div class="form-group">
        <label>InTheBox</label>
        <input type="text" formControlName="InTheBox" />
      </div>
      <div class="form-group">
        <label>Model Number</label>
        <input type="text" formControlName="modelNumber" />
      </div>
      <button type="submit">Save</button>
      <button (click)="load()">Load</button>
    </form>
  </fieldset>
</div>
