<header class="app-header">
  <h1 class="app-title">E-Store</h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li>
        <a routerLink="/contact-us" routerLinkActive="active">Contact us</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <!-- <app-add-product-reactive></app-add-product-reactive>
    <app-cart [cart]="cart"></app-cart>
    <app-product-list (addToCart)="handleAddToCart($event)"></app-product-list>
    <app-add-product></app-add-product> -->
  <app-cart></app-cart>
  <router-outlet></router-outlet>

</main>
